
.all{


  background-image: url(C:\Users\Rahul\Documents\myproject\myproject\src\old-black-background-grunge-texture-dark-wallpaper-blackboard-chalkboard-room-wall.jpg);
  background-position: center;
  background-size: cover;
color: white;


}

.all::-webkit-scrollbar {
  width: 1em;
}
 
.all::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
.all::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}



button.login-bt{
  width: 100%;
    color: rgb(255, 255, 255);
    padding: 5px;
    cursor: pointer;
    font-size: 18px;
   margin: 12px 0;
   font-size: 14px;
   box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
  border: 3px solid transparent;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #78e4ff, #ff48fa);
  background-origin: border-box;
  background-clip: content-box, border-box;
  background: none;

}
button.login-bt:hover{

  background-image: linear-gradient(to right, #F09819 0%, #EDDE5D  51%, #F09819  100%);
  color: black;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  cursor: pointer;
  box-shadow: 3px 4px 10px black;
  transform-style: preserve-3d;
  
}

.active-btn {
  background-color: #222222;
  color: white;
  font-size: 11px;
}

button2{

  background-color: #FCC133;
  border: none;
  color: rgb(10, 10, 10);
  padding: 4px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  align-items: center;
  transition: .4s;
  margin-left: 20px;
  border-radius: 2px;
  border: 4px solid rgb(241, 159, 7);
  width: 200PX;
  height: 16PX;
  table-layout: fixed;
  
}
button2:hover{

  color: #fff;
  border: 4px solid rgb(241, 159, 7);
  background-color:rgba(10, 10, 10, 0);
  font-size: 12px;
  

}
  
button3 {
    width: 100%;
    background: none;
    border: 2px solid rgb(12, 202, 59);
    color: white;
    padding: 5px;
    cursor: pointer;
    font-size: 18px;
   margin: 12px 0;
   font-size: 14px;
  
}

.buttonbkg {
  background-color: rgb(34, 34, 34);
  width: 100%;
  height: 50px;
  align-content: center;
  align-items: center;
  text-align: center;
  top: auto;
} 



.button{
  align-items: center;
  align-content: center;
  margin: 20px 90px;
  align-items: center;
  animation: App-logo-spin infinite 20s linear;
}

html, body, #root, .all {
  height: 100%;
}
.login-form-inner{

  border:20px solid transparent;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 3px 5px 15px black;
    background-color: rgba(0, 0, 0, 0.178);
}.login-form-inner h1{
  font-size: 19px;
  align-items: center;
  text-align: center;
  text-decoration: underline white;
  

}


.input{

  margin-bottom: 10px;
    display: flex;
    align-items: center;
    overflow: hidden;
    padding: 8px 0;
 margin: 8px 0;
 border-bottom: 2px solid rgb(255, 255, 255);
  font-size: 15PX;
    
    

}
.btn-login{
background: none;
width: 20px;

}
.button-login{
  background: none;
}
.input input{
 width: 90%;
 border: none;
 outline: none;
 background: none; 
  color: white;
 
}

.input label{
  margin-right: 30px;
}
.login-form{
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  scrollbar-shadow-color: black;
  box-shadow: 3px 3px 25px black;
color: rgb(240, 240, 240);
align-items: center;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-style: oblique;
top: 0;
text-shadow: black;
background-color: rgba(20, 20, 20, 0.856);
box-shadow: black;
width: 100%;
height: 10%;
text-decoration: solid;
margin-right: 100px;
text-shadow: #61dafb;
text-align: left;
margin-right: 100px;
display: flex;
letter-spacing: 1px;
font-size: 12px;
justify-content: space-between;
}
.imagebuttons{
  width: auto;
  height: auto;
  background-color: burlywood;

}
nav {
text-decoration: none;
  margin-left: 100px;
  text-align: left;
  line-break: auto;
  align-content: center;
  box-shadow: black;
  text-shadow: black;
  background-color: rgba(20, 20, 20, 0.856);
}

.logo {
  width: 25%;
  
  
}

a {
  margin: 15px;
  margin-right: 100px;
  text-decoration: none;
  color: azure;
  background-color: rgba(20, 20, 20, 0.856);
}


/*.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.PrimaryNav {
  @extend %cf; // clear the floats
  list-style: none;
  margin: 50px auto;
  max-width: 720px; // As all measurements are using % this could be a flexible value.
  padding: 0;
  width: 100%;
}

.Nav-item {
  background: #fff;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  width: $width; //dynamic width
  text-align: center;

  &:first-child {
    border-radius: 3px 0 0 3px;
  }

  &:last-child {
    border-radius: 0 3px 3px 0;
  }

  &.is-active a {
    color: $indicator-color;
  }

  a {
    color: $background-color;
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
    text-decoration: none;

    &:hover {
      color: $indicator-color;
    }
  }
}




@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
  
}*/
